 .sidebar-container {
     flex: 0.12;
     display: flex;
     flex-direction: column;
     box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
     background-color: transparent;
     overflow-x: visible;
     background-color: white;
 }

 .sidebar-container nav {
     display: flex;
     flex-direction: column;
     flex: 1;
     padding-top: 50%;
     padding: 50% 10px 0% 10px;

 }

 .sidebar-buttonsList {
     display: flex;

     flex-direction: column;
     gap: 5px;
     flex: 1;
 }

 .sidebar-button {
     display: flex;
     align-items: center;

     padding: 8px 16px;
     background: none;
     border: none;
     text-align: left;
     cursor: pointer;
     font-size: 14px;
     color: #333;
     border-radius: 5px;
     gap: 8px;
     background-color: ghostwhite;
     transition: background-color 0.1s, color 0.1s;
 }

 .sidebar-button-active {
     background-color: #007bff;
     border-radius: 5px;
     color: #fff;
 }



 /*
.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 150px;
    padding: 8px 16px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    border-radius: 5px;
    gap: 8px;
    transition: background-color 0.1s, color 0.1s;
}

.active {
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
}

.menu-item .icon {
    width: 20px;
    height: 20px;
}

.user-menu {
    margin-top: auto;
}

.user-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.avatar {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
}

.avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-fallback {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 100%;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.dropdown-separator {
    height: 1px;
    background-color: #ddd;
    margin: 4px 0;
} */