.orders-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;

}


.orders-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 20px;

}

.orders-active-orders {
    display: flex;
    flex-direction: column;
}


.order-list-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-bottom: solid 1px silver;

}

.order-list-container:nth-child(even) {
    background-color: #f8f9fa;
}

.order-row-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.order-row-label {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 50px
}

.order-row-label-productids {
    display: flex;
    flex: 1;
}

.order-row-label-details-button {
    background-color: #333333;
}



.order-extra-details-container {
    display: flex;
    flex-direction: column;
    border-top: solid whitesmoke 0.5px;
    margin: 10px -20px 0px -20px;
    padding: 20px;
}

.order-extra-details-item {
    display: flex;
    flex-direction: row;


}

.order-extra-details-status {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    width: 6rem;
    font-size: small;
    font-weight: 500;

}

.order-extra-details-productid-and-icon {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: 5px
}

.order-details-total {
    border-top: #333333 solid 0.5px;
    align-self: flex-end;
}

