.navigation-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    z-index: -1;
}

.navigation-child {
    display: flex;
    flex: 1;
    flex-direction: column;

}

.login-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buyer-navigation-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

}