 .seller-sidebar-container {
     width: 10%;
     display: flex;
     flex-direction: column;
     overflow-x: visible;
     background-color: 'transparent';
     justify-content: center;
     align-items: center;
 }

 .seller-sidebar-container nav {
     display: flex;
     flex-direction: column;
     gap: 10px;
     padding: 15% 10%;
     border-radius: 50px;
     background-color: white;
     box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
 }

 .seller-sidebar-seperator {
     display: flex;
     flex-direction: row;
     border-top-style: solid;
     border-width: 1px;
     border-top-color: silver;

 }

 .seller-sidebar-buttonsList {
     display: flex;
     gap: 10px;
     flex-direction: column;
     gap: 5px;
     flex: 1;
     color: black;
 }

 .seller-sidebar-button {
     display: flex;
     align-items: center;

     padding: 8px 16px;
     background: none;
     border: none;
     text-align: left;
     cursor: pointer;
     font-size: 14px;
     color: #333;
     border-radius: 5px;
     gap: 8px;

     transition: background-color 0.1s, color 0.1s;
 }

 .seller-sidebar-button-active {
     background-color: #007bff;
     border-radius: 5px;

 }


 .buyer-sidebar-container {
     display: flex;
     flex-direction: column;
     border-right: solid 1px silver;
     height: 100vh;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     z-index: 1;


 }

 .buyer-sidebar-header {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 20px;
     border-bottom: silver solid 1px;
     padding: 20px;
 }

 .buyer-sidebar-container nav {
     display: flex;
     flex-direction: column;
     gap: 10px;
     flex: 1;

 }

 .buyer-sidebar-buttons-main {
     display: flex;
     flex: 1;
     flex-direction: column;

     gap: 5px;

 }

 .buyer-sidebar-buttons-secondary {
     display: flex;
     flex-direction: column;
     border-top: solid 1px silver;
 }

 .buyer-sidebar-button {
     display: flex;
     background-color: transparent;
     font-size: x-large;
     font-weight: 600;
     box-shadow: none;
     color: silver;
     align-items: center;
     gap: 10px;
     padding: 10px 20px;
     border-bottom: silver solid 1px;
     border-radius: 0;
 }

 .buyer-sidebar-button-active {
     color: #333333;

 }

 .buyer-sidebar-notifications-container {
     display: flex;
     flex-direction: column;
     flex: 1;
     overflow-y: scroll;
 }

 .buyer-sidebar-notifications-list-container {
     display: flex;

     flex-direction: column;
     gap: 5px;

 }

 .notification-item-container {
     border-bottom: solid silver 1px;
 }

 .notification-item-notification-title {
     font-size: small;
     padding: 5px 0px 10px 20px;
 }

 .notification-item-body {
     font-size: smaller;
     padding: 5px 0px 10px 20px;
 }







 .navigationbar-container {
     height: 100vh;
     display: flex;
     flex-direction: column;
     border-right: silver solid 1px;
     justify-content: flex-start;
     overflow: hidden;
 }

 .navigationbar-header {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 20px;
     border-bottom: silver solid 1px;
     
     padding: 20px;

 }

 .navigationbar-body {
     display: flex;
     flex-direction: column;
     flex: 1;
 }

 .navigationbar-body nav {
     display: flex;
     flex-direction: column;
     flex: 1;

     justify-content: flex-start;

 }

 .navigationbar-notification-container {
     display: flex;
     flex-direction: column;
     flex: 1;

     overflow-y: scroll;
 }

 .notification-items-list {
     max-height: 300px;
 }