.manage-products-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;

}

.manage-products-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 20px;
}

.manage-products-details {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;

}

.manage-products-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.manage-products-details button {
    color: white;
    background-color: #333333;
    border: none;
    border-radius: 0px;
}



.rwd-table-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    padding: 50px;
    font-size: 10px;
    

}

.rwd-table {
    margin: 1em 0;
    min-width: 400px;
    border: solid 1px #e0e0e0;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: block;
    padding: 1em;
}

.rwd-table td {
    display: block;
    padding: 1em;
    /* inline-size: 150px;
    overflow-wrap: break-word; */
    max-width: 100px;
    overflow: hidden;
    
}



.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th)": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table td:first-child {
    cursor: pointer;


}

.edit-icon-container {
    display: flex;

    flex: 1;
}

@media (min-width:780px) {


    .rwd-table td {
        display: table-cell;
    }

    .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table td:before {
        display: none;
    }

    .rwd-table th {
        display: table-cell;
        text-align: left;
        padding: 1em;
        background-color: #333333;
        color: white;
    }

    .rwd-table th,
    .rwd-table td {
        text-align: left;
        text-overflow: ellipsis;

    }
}



.rwd-table tr:nth-child(odd) {
    background-color: whitesmoke;
}



.status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.status-indicator.visible {
    background-color: green;
}

.status-indicator.hidden {
    background-color: red;
}

.status-container {
    display: flex;
    align-items: center;
    gap: 5px;
}